@charset "UTF-8";

body {
    margin: 0;
    display: grid;
    grid-template-rows: [header-start] 0.1fr [content-start] 0.1fr [content-continue] 0.3fr [footer-start] 6em;
    grid-template-columns: [menu] 0.5fr [main] 2.5fr [tabel] 0.7fr;
    grid-template-areas:
        "header header header"
        "menu main tabel"
        "menu alsomain alsomain"
        "menu footer footer";
    font-family: 'IBM Plex Sans','Helvetica Neue','Arial',sans-serif;
}

#menu {
    grid-area: menu;
    background-color: #071022;
}

header {
    grid-area: header;
    display: grid;
    background-color: #071022;
    grid-template-columns: 0.6fr 0.1fr 1fr
}

#headerleft {
    grid-column: 1;
}

#headertext {
    font-family: 'Aldrich';
    grid-column: 2;
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -35%);
}

#headerright {
    grid-column: 3;
}

footer {
    grid-area: footer;
    background-color: #071022;
}

#main {
    padding: 1em 0 0 1em;
    grid-area: main;
    background-color: #172136;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr;    
}

#content {
    grid-column: 1;
    grid-row: 1;
}

#stattable{
    grid-column: 1;
    grid-row: 2;
}

.drop {
    margin-left: 2em;
    border-collapse:collapse;
    border-spacing:0;
    border-color: transparent;
    color: #cbd9f4;
    justify-self: center;
}

.asidetable {
    margin: 1em;
    border-collapse:collapse;
    border-spacing:0;
    border-color: transparent;
    color: #cbd9f4;
    justify-self: center;
    height: 95%;
    width: 88%;
}

.tg  {
    margin-left: 5em;
    border-collapse:collapse;
    border-spacing:0;
    border-color: transparent;
    color: #cbd9f4;
    justify-self: center;
}

.tg td{
    font-family:Arial, sans-serif;
    font-size:14px;
    padding:10px 5px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
    border-color:#cbd9f4;
}

.asidetable td{
    font-family:Arial, sans-serif;
    font-size:14px;
    padding:10px 5px;
    overflow:hidden;
    word-break:normal;
    border-color:#cbd9f4;
}

.drop td{
    font-family:Arial, sans-serif;
    font-size:14px;
    padding:10px 5px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
    border-color:#cbd9f4;
}

.tg th{
    font-family:Arial, sans-serif;
    font-size:14px;
    font-weight:bold;
    padding:10px 5px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
    border-color:#cbd9f4;
}

.asidetable th {
    font-family:Arial, sans-serif;
    font-size:14px;
    font-weight:bold;
    padding:10px 5px;
    border-right: 1px solid;
    overflow:hidden;
    word-break:normal;
    border-color:#cbd9f4;
}

.drop th{
    font-family:Arial, sans-serif;
    font-size:14px;
    font-weight:bold;
    padding:10px 5px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
    border-color:#cbd9f4;
}

.tg .tg-0pky{
    border-color:#cbd9f4;
    text-align: center;
    vertical-align:top;
}

.drop .tg-0pky{
    border-color:#cbd9f4;
    text-align: center;
    vertical-align:top;
}

.asidetable .tg-0pky{
    border-color:#cbd9f4;
    text-align: center;
    vertical-align:top;
    background-color: #222e45;
}

.tg .tg-0lax{
    text-align:left;
    vertical-align:top;
    border-color:#cbd9f4;
}

.drop .tg-0lax{
    text-align:left;
    vertical-align:top;
    border-color:#cbd9f4;
}

.asidetable .tg-0lax{
    text-align: center;
    vertical-align:top;
    border-color:#cbd9f4;
}

#alsomain {
    grid-area: alsomain;
    background-color: #172136;
    padding-left: 1em;
}

#table {
    grid-area: tabel;
    background-color: #313e59;
}

p {
    color: #cbd9f4;
    font-size: .9em;
}

a {
    color: #8cabe6;
    background: none;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    vertical-align: middle;
}

caption{
    font-weight: bold;
}

.floatleft{
    margin: 0 0.5em 0.5em 0;
    position: relative;
    float: left;
    clear: left;
}

h1 {
    font-weight: 600;
    padding: 0 0 .15em;
    font-family: 'PT Serif','Palatino','Georgia',serif;
    margin-bottom: .3em;
    font-size: 1.8em;
    line-height: 1.3;
    color: #cbd9f4;
    border-color: #596e96;
}

h2 {
    padding: 0 0 .15em;
    font-family: 'PT Serif','Palatino','Georgia',serif;
    margin-bottom: .3em;
    font-size: 1.5em;
    margin-top: 1em;
    line-height: 1.3;
    color: #cbd9f4;
    font-weight: normal;
    border-bottom: 1px solid;
}

h3 {
    font-size: 1.2em;
    color: #cbd9f4;
    font-weight: bold;
    margin: 0.5em 0 0 0.66666667em;
    padding: 0.25em 0;
    cursor: default;
    border: 0;
}

.title {
    border-bottom: 1px solid #a2a9b1;
}

.thumbinner {
    width: 242px;
    clear: right;
    float: right;
    margin: 0.5em 0 1.3em 1.4em;
}

.thumbcaption {
    font-size: 90%;
    overflow: hidden;
    color: #cbd9f4;
    background: #313e59;
}

#sidemenu {
    list-style: none none;
    margin: 0;
    padding: 0.3em 0 0 1em;
    font-size: 0.9em;
}

li {
    color: #cbd9f4;
}

.sidebar {
    line-height: 1.125em;
    margin: 0;
    padding: 0.25em 0;
    font-size: 0.75em;
    word-wrap: break-word;
}

.footertext {
    font-size: 80%;
    list-style-type: none;
    list-style-image: none;
    margin: 2em 1em;
    padding: 0;
    line-height: 1.6em;
}

.veryrare {
    color: black;
    background-color: #ff6262;
}

.source {
    margin-top: 10em;
    font-size: 80%;
}